@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


html{
box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    font-family: "TT Lakes", sans-serif;
    margin: 0;
    min-width: 320px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #F8F8F8;

}

.container{
  display: flex;
  flex-direction: column;
  gap: 8px;


}

.header{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
border-bottom: 0.8px solid #D9FFF5;
height: 88px;
align-items: center;
background-color: #FFFFFF;
}

.left-side{
  display: flex;
  flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 16px;
    margin-left: 16px;
    align-items: center;
}

.right-side{
    display: flex;
  flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 16px;
    margin-right: 16px;
}


.title-container{
  display: flex;
    flex-wrap: nowrap;
   
}



.title{
  display: flex;
  flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;

}

.title__text{
font-family: "TT Lakes", sans-serif;
font-size: 28px;
font-weight: 700;
color: #1b1c21;
line-height: 40px;
letter-spacing: -0.6px;
}

.left-side__divider, .repair__text, 
.check__text, .call, .chat, .profile, 
.text-2, .text-3, .max-width{
  display: none;
}

.menu{
display: flex;
overflow-x: auto;
}

.menu__inner{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style-type: none;
  height: 40px;


}

.menu__text{
 padding: 8px 16px;
 border: 2px solid transparent;
  display: flex;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  font-weight: 500;
}

.menu__text:nth-child(1){
  margin-left: -24px;
}


.menu__link{
  text-decoration: none;
  color: #7E7E82;
}

.menu__text:focus{
  border: 2px solid #b8ffec;
  border-radius: 6px;
  justify-content: center;
  background-color: #FFFFFF;

}

.menu__link:link{
  color:#7E7E82;
}


.content{
  display: flex;
  flex-wrap: wrap;
  white-space: normal;
  gap: 24px;
}

.text{
  width: 100%;
  margin-left: 16px;
  font-size: 14px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.next-read{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  row-gap: 8px;
  margin-left: 16px;
}

.next-read__text{
  font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-left: 10px;
}


@media (min-width: 768px){

.call, .chat, .profile, 
.text-2, .left-side__divider{
  display: flex;
}

.right-side{
    display: flex;
  flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.text{
  width: 50%;
  margin-left: 16px;
  font-size: 14px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}


.next-read{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  row-gap: 8px;
  margin-left: 16px;
  margin-top: 16px;
}
.content{
  display: flex;
  flex-wrap: wrap;
  white-space: normal;
  gap: 16px;
  margin-top: 0;



  
}

.content__image{
  flex: 1;
  margin-right: 16px;
}

.content__image img{
  width: 100%;
    height: 100%;
    border-radius: 2%;
}
}

@media (min-width: 1120px){
.header{
  display: none;
}

.title-container{
  display: flex;
    flex-wrap: nowrap;
    margin-top: 42px;
    justify-content: space-between;

}

.max-width{
  display: flex;
  gap: 16px;
  margin-right: 32px;

}

.repair-container, .check-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;

}

.repair__text, .check__text{
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #1B1C21;
  width: 100%;
  justify-content: center;
  align-content: center;
  font-weight: 500;
}




.text{
  width: 50%;
  margin-left: 32px;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  margin-top: 9px;
}


.next-read{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  row-gap: 8px;
  margin-top: 16px;
}

.content{
  display: flex;
  flex-wrap: wrap;
  white-space: normal;
  gap: 36px;
  margin-right: 29px;
  margin-top: 0;
}

.content__image{
  flex: 1;
}

.content__image img{
  width: 100%;
    height: 100%;
    border-radius: 2%;
}

.text-2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text-3{
  display: flex;
}

.menu{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 82px;

}

.menu__inner{
  display: flex;
  flex-wrap: wrap;  
  list-style-type: none;
  justify-content: flex-start;

}

.menu__text:nth-child(1){
  margin-left:0;
}



}


